.call-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 200;

    background-color: $yellow;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $blue;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    @include media(md) {
        display: none;
    }
}