.testimonial {
    background-color: $white;

    &__content {
        padding: 2rem;
    }

    &__info {
        color: $green;
        display: flex;
        justify-content: space-between;
    }

    &__stars {
        img {
            width: 17px;
            height: 17px;
        }
    }
}